.delete-btn {
  transition: background-color 0.3s ease-in-out;
}

.delete-btn:hover {
  background-color: rgb(253, 58, 58);
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 20vw;
  height: 10vh;
  background-color: white;
  align-items: center;
}

.action-btn {
  width: 40%;
  height: 40%;
  font-size: inherit;
}

.red {
  background-color: rgb(255, 67, 67);
  color: white;
}
