li {
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.1rem;
  text-align: left;
}

.item-img {
  width: 20px;
}

.item-btn {
  border: 0;
  background-color: transparent;
}
