li {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  font-size: 1.1rem;
  text-align: left;
}

.item-img {
  width: 20px;
}

.item-btn {
  border: 0;
  background-color: transparent;
}

.placeholder {
  opacity: 0.5;
}

.todo-item {
  display: grid;
  grid-template-columns: 20px 4fr 1fr 40px;
  gap: 1rem;
  word-break: break-all;
}

.todo-text {
  min-width: 0;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.todo-item textarea {
  width: 100%;
}

.todo-item input,
.todo-item textarea {
  border: 1.5px solid gray;
}

.title-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
