:root {
  --color-background: #ebebeb;
  --color-accent: #ff7e7e;
}

body {
  padding: 50px 20vw;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin: 0;
}

.app-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.6;
}

select {
  background-color: transparent;
  padding-left: 20px;
}

input,
textarea {
  border: 0;
  border-radius: 5px;
  font-size: large;
  padding: 5px;
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
}

.small-el {
  height: 3rem;
  width: 12rem;
  font-size: large;
}

.border {
  border: 0;
  border-radius: 10px;
}

.top-controls {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 40vh;
  background-color: white;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid var(--color-background);
  border-top: 4px solid var(--color-accent);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.top-index {
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
